[Unit]
Description=Notary Service
After=network.target

[Service]
User=tee
Group=tee
WorkingDirectory=/opt/tee/tee-web-prover
ExecStart=/opt/tee/tee-web-prover/target/release/tee-web-prover
Restart=always
Environment="RUST_LOG=info"
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
